/* supports-version:20.09 */

/***
* Dependencies
***/
@import "../lib/flat-ttrss/flat_combined.css";

/***
* Fonts
***/
/* BEGIN Light */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/Light/OpenSans-Light.eot');
	src: url('ijreeder/fonts/Light/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/Light/OpenSans-Light.woff') format('woff'), url('ijreeder/fonts/Light/OpenSans-Light.ttf') format('truetype'), url('ijreeder/fonts/Light/OpenSans-Light.svg#OpenSansLight') format('svg');
	font-weight: 300;
	font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/LightItalic/OpenSans-LightItalic.eot');
	src: url('ijreeder/fonts/LightItalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/LightItalic/OpenSans-LightItalic.woff') format('woff'), url('ijreeder/fonts/LightItalic/OpenSans-LightItalic.ttf') format('truetype'), url('ijreeder/fonts/LightItalic/OpenSans-LightItalic.svg#OpenSansLightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/Regular/OpenSans-Regular.eot');
	src: url('ijreeder/fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/Regular/OpenSans-Regular.woff') format('woff'), url('ijreeder/fonts/Regular/OpenSans-Regular.ttf') format('truetype'), url('ijreeder/fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/Italic/OpenSans-Italic.eot');
	src: url('ijreeder/fonts/Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/Italic/OpenSans-Italic.woff') format('woff'), url('ijreeder/fonts/Italic/OpenSans-Italic.ttf') format('truetype'), url('ijreeder/fonts/Italic/OpenSans-Italic.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/Semibold/OpenSans-Semibold.eot');
	src: url('ijreeder/fonts/Semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/Semibold/OpenSans-Semibold.woff') format('woff'), url('ijreeder/fonts/Semibold/OpenSans-Semibold.ttf') format('truetype'), url('ijreeder/fonts/Semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot');
	src: url('ijreeder/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff') format('woff'), url('ijreeder/fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf') format('truetype'), url('ijreeder/fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/Bold/OpenSans-Bold.eot');
	src: url('ijreeder/fonts/Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/Bold/OpenSans-Bold.woff') format('woff'), url('ijreeder/fonts/Bold/OpenSans-Bold.ttf') format('truetype'), url('ijreeder/fonts/Bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
	font-weight: bold;
	font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/BoldItalic/OpenSans-BoldItalic.eot');
	src: url('ijreeder/fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/BoldItalic/OpenSans-BoldItalic.woff') format('woff'), url('ijreeder/fonts/BoldItalic/OpenSans-BoldItalic.ttf') format('truetype'), url('ijreeder/fonts/BoldItalic/OpenSans-BoldItalic.svg#OpenSansBoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/ExtraBold/OpenSans-ExtraBold.eot');
	src: url('ijreeder/fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/ExtraBold/OpenSans-ExtraBold.woff') format('woff'), url('ijreeder/fonts/ExtraBold/OpenSans-ExtraBold.ttf') format('truetype'), url('ijreeder/fonts/ExtraBold/OpenSans-ExtraBold.svg#OpenSansExtrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
	font-family: 'Open Sans';
	src: url('ijreeder/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot');
	src: url('ijreeder/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('ijreeder/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff') format('woff'), url('ijreeder/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf') format('truetype'), url('ijreeder/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#OpenSansExtraboldItalic') format('svg');
	font-weight: 800;
	font-style: italic;
}
/* END Extrabold Italic */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../lib/iconfont/MaterialIcons-Regular.eot);
	src: local('Material Icons'), local('MaterialIcons-Regular'), url(../lib/iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../lib/iconfont/MaterialIcons-Regular.woff) format('woff'), url(../lib/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	max-width: 1em;
	overflow: hidden;
	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

/***
* General
***/
:focus {
	outline: none;
}
::selection {
	background: #911e29;
	color: #ffffff;
}
html {
	font: 12px/1.5 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", FreeSans, sans-serif;
	color: #383734;
}
body,
#main {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	position: absolute;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background: #827575;
}
a {
	color: #4a404c;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
textarea {
	box-sizing: border-box;
}
body.ttrss_main h1 {
	font-size: 18px;
	font-weight: 600;
}
body.ttrss_main h2 {
	font-size: 16px;
	font-weight: 600;
}
body.ttrss_main h3 {
	font-size: 16px;
	font-weight: 600;
}
body.ttrss_main h4 {
	font-size: 14px;
	font-weight: 600;
}
body.ttrss_main .small {
	font-size: 12px;

}
body.small_margins {
	margin: 1em;
	max-width: none;
}
body.ttrss_main ul.list li {
  padding: 2px;
}
body.ttrss_main ul.list {
  padding: 4px;
}
body.ttrss_main ul.list-unstyled {
  list-style-type: none;
}
body.ttrss_main .text-center {
  text-align: center;
}

#main .dijitSplitterHover,
#main .dijitSplitterActive {
	background: transparent
}
#main .dijitSplitterThumb {
	display: none;
}

/***
* Unsorted (to be done)
***/
div.filterTestHolder {
	height : 300px;
	overflow : auto;
	border-color : #ddd;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : #f5f5f5;
	border-width : 1px;
}
ul.nomarks {
	list-style-type : none;
	margin : 0px;
	padding : 10px;
}
div.tagCloudContainer {
	border : 1px solid #ddd;
	background-color : #f5f5f5;
	margin : 5px 0px 5px 0px;
	padding : 5px;
	text-align : center;
}
div.errorExplained {
	border : 1px solid #ddd;
	background-color : #f5f5f5;
	margin : 5px 0px 5px 0px;
	padding : 5px;
}
ul.feedErrorsList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #ddd;
	background-color : #f5f5f5;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}
ul.feedErrorsList em {
	color : #555;
}
body.ttrss_main ul.browseFeedList{
	height : 300px;
	overflow : auto;
	border-width : 0px 1px 1px 1px;
	border-color : #ddd;
	border-style : solid;
	margin : 0px 0px 5px 0px;
	background-color : white;
	list-style-type : none;
	padding : 0px;
}
body.ttrss_main ul.browseFeedList li  {
	margin : 0px;
	padding : 2px 4px 2px 4px;
	display: flex;
}
body.ttrss_main ul.browseFeedList li > * {
  align-self: center;
  margin: 2px;
}
body.ttrss_main .browseFeedList span.subscribers {
  color: #808080;
}
div.subscribers {
	color : #808080;
	font-size : 12px;
	float : right;
}
div.browserDetails {
	margin : 5px 5px 5px 5px;
	padding : 5px;
}
body.ttrss_main ul.compact {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}
body.ttrss_main ul.compact li {
	margin : 0px;
	padding : 0px;
}
body.ttrss_main .noborder {
	border-width : 0px;
}
body.ttrss_main div.loadingPrompt {
  padding: 1em;
  text-align: center;
  font-weight: bold;
}
body.ttrss_main div.autocomplete {
  position: absolute;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin: 0px;
  padding: 0px;
}
body.ttrss_main div.autocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
body.ttrss_main div.autocomplete ul li.selected {
  background-color: #e6e6e6;
}
body.ttrss_main div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  height: 32px;
  cursor: pointer;
}
body.ttrss_main div.dlgSec {
	font-size : 14px;
	color : #555;
	font-weight : bold;
	clear : both;
	height : 20px;
}
body.ttrss_main div.dlgSecHoriz {
	font-size: 14px;
	font-weight: bold;
	clear: both;
	margin-bottom: 8px;
	margin-top: 8px;
}
body.ttrss_main div.dlgSecCont {
	position : relative;
	top : -20px;
	float : left;
	font-size : 12px;
	font-weight : normal;
}
body.ttrss_main div.dlgSecCont hr,
body.ttrss_main div.dlgSecSimple hr {
	height : 0px;
	line-height : 0px;
	border : 0px solid transparent;
	margin : 2px;
}
body.ttrss_main div.dlgSecCont > * {
	position : relative;
	top : -2px;
}
body.ttrss_main .dijitDialog .dlgButtons {
	margin-top: 4px;
	text-align : right;
	clear : both;
}
body.ttrss_main i.icon-label {
  color: #fff7d5;
}
body.ttrss_main ul#filterDlg_Matches,
body.ttrss_main ul#filterDlg_Actions {
	max-height: 100px;
	overflow: auto;
	list-style-type: none;
	border-style: solid;
	border-color: #dddddd;
	border-width: 1px 1px 1px 1px;
	background-color: #ffffff;
	margin: 0px 0px 5px 0px;
	padding: 4px;
	min-height: 16px;
}
body.ttrss_main ul#filterDlg_Matches li,
body.ttrss_main ul#filterDlg_Actions li {
	cursor: pointer;
	padding : 0px 0px 0px 5px;
}
body.ttrss_main ul#filterDlg_Matches li .dijitCheckBox,
body.ttrss_main ul#filterDlg_Actions li .dijitCheckBox {
  margin-right: 4px;
}
ul.helpKbList {
	max-height : 300px;
	overflow : auto;
	list-style-type : none;
	border : 1px solid #ddd;
	background-color : #f5f5f5;
	margin : 0px 0px 5px 0px;
	padding : 5px;
}
ul.helpKbList span.hksequence {
	width : 6em;
	margin-left : 20px;
	color : #88b0f0;
	font-weight : bold;
	display : inline-block;
}
ul.helpKbList h2 {
	margin-top : 0px;
}
body.ttrss_main ul.hotkeys-help li {
  display: flex;
}
body.ttrss_main ul.hotkeys-help li.desc {
  flex-grow: 2;
}
body.ttrss_main ul.hotkeys-help .hk {
  color: #c11e79;
  width: 100px;
}
body.ttrss_main ul.hotkeys-help h3 {
  margin: 8px 0px;
}
body.ttrss_main select.attachments {
  display: block;
  margin-top: 10px;
  max-width: 120px;
}
body.ttrss_main #filterDlg_feeds select {
  height: 150px;
  width: 410px;
}
body.ttrss_main #header {
  border-width: 0px;
  text-align: right;
  color: #555555;
  padding: 5px 5px 0px 0px;
  margin: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 5;
}
#errorButton {
	color: #e44;
}
.ttrss_main .dijitTreeRow,
.ttrss_main .dijitTreeNode .dojoDndItemBefore,
.ttrss_main .dijitTreeNode .dojoDndItemAfter {
	background-color: rgba(239,230,207,1); /*bg_dark*/
	background-image: url(ijreeder/reeder_stripes.png);
	color: #4f4e48;
	display: block;
	font-size: 12px;
	line-height: 20px;
	border: none;
}
.ttrss_main .dijitTreeRowHover,
.ttrss_main .dijitTreeNode .dojoDndItemBeforeHover,
.ttrss_main .dijitTreeNode .dojoDndItemAfterHover {
	background-color: rgba(239,230,207,1); /*bg_darker*/
	background-image: url(ijreeder/reeder_stripes.png);
	color: #383734;
	box-shadow: inset 0 0 2px #555555;
	transition: background .5s;
}
body.ttrss_main .panel {
  border: 1px solid #dddddd;
  background: #f5f5f5;
  padding: 4px;
}
body.ttrss_main .dijitDialog .panel {
  background: #ffffff;
}
body.ttrss_main .panel-scrollable {
  overflow: auto;
  height: 200px;
}
body.ttrss_main div#cmdline {
	position: absolute;
	bottom: 5px;
	left: 5px;
	z-index: 5;
	padding: 1px;
	width: 18px;
	border-radius: 4px;
	background-color: #444;
	color: #fff;
	text-align: center;
	font-weight: bold;
}
body.ttrss_main #feed_browser_spinner {
  vertical-align: middle;
  height: 18px;
  width: 18px;
}
body.ttrss_main #exceptionDlg .dijitDialogTitleBar {
  background: red;
  color: white;
}

body.ttrss_main .dijitDialog h1:first-of-type,
body.ttrss_main .dijitDialog h2:first-of-type,
body.ttrss_main .dijitDialog h3:first-of-type,
body.ttrss_main .dijitDialog h4:first-of-type {
  margin-top: 0px;
}
body.ttrss_main #exceptionDlg .dijitDialogPaneContent {
  background: #fcc;
}
body.ttrss_main #exceptionDlg .error-contents .message {
  color: red;
}
body.ttrss_main #exceptionDlg .error-contents textarea {
  width: 99%;
  height: 200px;
}
body.ttrss_main #exceptionDlg .error-contents .dlgButtons {
  text-align: center;
}
body.ttrss_main div.prefHelp {
  color: #aaa;
  padding: 5px;
}
body.ttrss_main .insensitive {
	color: #aaa;
}
body.ttrss_main span.preview {
  color: #999;
  font-weight: normal;
  font-size: 12px;
  padding-left: 4px;
}
body.ttrss_main .label {
  display: inline-flex;
  vertical-align: middle;
  background-color: #fff7d5;
  font-size: 9px;
  color: #000000;
  font-weight: normal;
  margin-left: 2px;
  padding: 1px 4px 1px 1px;
  white-space: nowrap;
}
body.ttrss_main .label i {
  margin-right: 2px;
}
body.ttrss_main .label > * {
  align-self: center;
}
.highlight {
	position: relative;
	margin: -.1em -.2em;
	padding: .1em .2em;
	border-radius: .2em;
	background: rgba(255,204,0,.5);
	color: #b80;
}
body#sharepopup {
  color: #000000;
  background: #ffffff;
  margin: 10px;
}
body#sharepopup h1 {
  font-size: 14px;
  margin: 0px;
  color: #c11e79;
}
body#sharepopup form {
  height: 100%;
}
body#sharepopup input {
  width: 100%;
}

/***
* Flat Styles
***/
.flat li {
  padding: 2px;
}
.flat .filterRules span {
  display: block;
  color: green;
}
.flat #filterDlg_Matches span.filterRule {
  color: green;
}
.flat .filterRules span.inverse,
.flat #filterDlg_Matches span.filterRule.inverse {
  color: red;
}
.flat .dijitToolbar {
  font-size: 13px;
  padding: 0px;
}
.flat .dijitAccordionContainer {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}
.flat .dijitMenu .dijitMenuItem .dijitMenuItemLabel {
  padding: 4px 8px;
  font-size: 13px;
}
.flat .dijitMenu .dijitMenuItem.dijitDisabled:not(.dijitMenuItemSelected) .dijitMenuItemLabel {
  color: #c11e79;
}
.flat .dijitMenu .dijitMenuItem td {
  padding: 0px;
}
.flat .dijitCheckBox {
  background: #ccc;
  margin: 1px;
}
.flat .dijitCheckBox:before {
  font-family: "flat-icon";
  content: "\f00c";
  color: white;
}
.flat .dijitCheckBox.dijitCheckBoxChecked {
  background-color: #69c671;
  border-color: #45b74f;
}
.flat .dijitTab i.material-icons,
.flat .dijitAccordionInnerContainer:not(.dijitSelected) i.material-icons {
  color: #c11e79;
}
.flat .dijitTree .dijitFolderClosed,
.flat .dijitTree .dijitFolderOpened {
  display: none;
}
.flat .dijitTree .dijitTreeRowSelected .filterRules span {
  color: white;
}
.flat .dijitTree .dijitTreeRowSelected .dijitTreeExpando {
  color: #c11e79;
}
.flat .dijitTree .dijitTreeNode .dijitTreeRow.dijitTreeRowSelected.dijitTreeRowHover {
  color: white;
}
.flat .dijitTree .dijitTreeRow .dijitTreeExpando {
  position: relative;
  top: -2px;
}
.flat .dijitTree .labelParam {
  float: right;
  margin-right: 16px;
}
.flat .dijitTree .dijitTreeRow.filterDisabled {
  opacity: 0.5;
}
.flat .dijitTree .dijitTreeRow.filterDisabled .filterRules {
  filter: saturate(0%);
}
.flat .dijitTree .feedParam {
  float: right;
}
.flat .dijitTree .filterRules {
  display: block;
  font-size: 12px;
  margin-left: 100px;
  line-height: normal;
}
.flat .dijitTree .dijitTreeContainer {
  max-width: 100%;
}
.flat .dijitTree .dijitTreeRow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.flat label.dijitButton {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.flat label.dijitButton:hover {
  background-color: #f5f5f5;
}
.flat .dijitTree .dijitTreeNode .dijitTreeRow {
  padding: 4px 0px 4px;
  border-width: 1px;
  color: #555555;
}
.flat .dijitDialog .dijitDialogPaneContent {
  background: #f5f5f5;
}
.flat .dijitTab:not(.dijitTabChecked) {
  background: #f5f5f5;
}

/***
* Loader
***/
body.ttrss_main #overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #f4eede;
	background-image: url(ijreeder/linen_bg.png);
	background-repeat: repeat;
	background-position: center 5%;
	text-align: center;
	color: #383734;
}
div.insensitive{
	text-shadow: none;
	color: #383734;
}
body.ttrss_main #overlay_inner {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 50vh;
	left: 50vw;
	text-align: center;
	background-color: #f4eede;
	border : 1px solid #8e8b8b;
	border-radius: 90px;
	box-shadow: 0px 0px 30px 0px #383734;
	padding: 20px;
	margin: 0;
	width: 400px;
	max-width: calc(100vw - 50px);
	transform: translate(-50%,-50%);
}
body.ttrss_main #overlay_inner .dijitProgressBar {
	display: inline-block;
	margin-top: 20px;
	background-color: #f4eede;
	border-radius: 70px;
	width: 300px;
	max-width: calc(70vw - 50px);
}
body.ttrss_main #overlay_inner .dijitProgressBarEmpty {
	border: 0;
}
body.ttrss_main #overlay_inner .dijitProgressBarTile {
	border-radius: 3px;
	background-color: #af968b;
}
body.ttrss_main #overlay_inner .dijitProgressBarFull {
	border : 0;
}
body.ttrss_main #overlay_inner .dijitProgressBarLabel {
	color: #383734;
	border-radius: 3px;
	text-shadow: none;
}

/***
* Notify, Alert, Error, Warning, Notice
***/
body.ttrss_main #notify {
	bottom: -45px;
	right: 0px;
	height: 45px;
	left: 0px;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	position: fixed;
	font-size: 13px;
	z-index: 99;
	display: flex;
	transition: all 0.5s ease-in-out;
}
body.ttrss_main #notify.visible {
	transform: translate(0, -45px);
}
body.ttrss_main #notify > * {
	align-self: center;
	padding: 4px;
}
body.ttrss_main #notify img {
	vertical-align: middle;
}
body.ttrss_main #notify .msg {
	flex-grow: 2;
}
body.ttrss_main #notify .icon-close {
	cursor: pointer;
}
body.ttrss_main .notify {
  border-color: #d7c47a;
  background-color: #fff7d5;
}
body.ttrss_main .notify.notify_progress {
  border-color: #d7c47a;
  background-color: #fff7d5;
}
body.ttrss_main .notify.notify_info {
  border-color: #c11e79;
  background-color: #d5ebf6;
}
body.ttrss_main .notify.notify_info i.icon-notify {
  color: #c11e79;
}
body.ttrss_main .notify.notify_error {
  background-color: #c00;
  border-color: #900;
  color: white;
}
body.ttrss_main .notify.notify_error i.icon-notify,
body.ttrss_main .notify.notify_error i.icon-close {
  color: white;
}
body.ttrss_main .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 10px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}
body.ttrss_main .alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
  cursor: pointer;
}
body.ttrss_main .alert,
body.ttrss_main .alert h4 {
  color: #c09853;
}
body.ttrss_main .alert h4 {
  margin: 0;
}
body.ttrss_main .alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
body.ttrss_main .alert-success h4 {
  color: #468847;
}
body.ttrss_main .alert-danger,
body.ttrss_main .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
body.ttrss_main .alert-danger h4,
body.ttrss_main .alert-error h4 {
  color: #b94a48;
}
body.ttrss_main .alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
body.ttrss_main .alert-info h4 {
  color: #3a87ad;
}
div.notice, div.warning, div.error {
	padding : 4px 10px 4px 4px;
	display : inline-block;
	margin : 2px 0px 4px 0px;
	font-size : 12px;
	border-style : solid;
	border-color : #ccc;
	border-width : 1px;
}
div.notice div.inner, div.warning div.inner, div.error div.inner {
	vertical-align : middle;
}
div.notice {
	background : #ecf4ff;
	border-color : #88b0f0;
}
div.warning {
	background : #fff7d5;
	border-color : #e7d796;;
}
div.error {
	background : #ffcccc;
	border-color : #ff0000;
}
div.warning img, div.notice img, div.error img {
	margin : 4px;
	vertical-align : middle;
}
div.warning span, div.notice span, div.error span {
	display : table-cell;
	vertical-align : middle;
}
div.fatalError {
	margin-bottom : 10px;
}

div.fatalError button {
	margin-top : 5px;
}

div.fatalError textarea {
	width : 100%;
	height : 100px;
}

/***
* Feeds // Left Nav (Feeds Holder, Feed Tree)
***/
body.ttrss_main #feeds-holder {
	padding: 0px;
	border: 0px solid #dddddd;
	overflow: hidden;
	box-shadow: inset -1px 0px 2px -1px rgba(0, 0, 0, 0.1);
	background: #827575;
}
body.ttrss_main #feeds-holder .dijitTreeNode .dijitTreeNode .dijitTreeRow,
body.ttrss_main #feeds-holder .dijitTreeNode .dijitTreeNode .dijitTreeRow * {
	position: relative;
	z-index: 1;
	cursor: pointer;
}
body.ttrss_main #feeds-holder .dijitTreeRow {
	overflow: hidden;
	line-height: 25px;
	box-sizing: border-box;
	padding: 6px;
	max-width: 100%;
	border: 0;
	background: transparent;
	color: #383734;
	text-overflow: ellipsis;
	transition: color .2s;
}
body.ttrss_main #feeds-holder .dijitTreeRowSelected {
	color: #222;
	transition: none;
}
body.ttrss_main #feeds-holder .dijitInline[style*="19px"] {
	padding-right: 6px;
}
body.ttrss_main #feeds-holder .dijitInline[style*="38px"] {
	padding-right: 12px;
}
body.ttrss_main #feeds-holder .dijitInline[style*="57px"] {
	padding-right: 18px;
}
body.ttrss_main #feeds-holder img.feedIcon,
body.ttrss_main #feeds-holder .labelColorIndicator {
	position: relative;
	top: -1px;
	margin: 0 4px 0 0;
	vertical-align: middle;
}
body.ttrss_main #feeds-holder .dijitTreeRow.Hidden,
body.ttrss_main #feeds-holder .dijitFolderClosed,
body.ttrss_main #feeds-holder .dijitFolderOpened,
body.ttrss_main #feeds-holder .dijitTreeExpandoLeaf,
body.ttrss_main #feeds-holder[style*=none] ~ .dijitSplitter { /* hide splitter when sidebar is collapsed */
	display: none;
}
body.ttrss_main #feeds-holder .dijitTreeExpandoLeaf[src*=indicator] ~ .dijitTreeContent:after {
	margin-left: 5px;
	width: 16px;
	height: 11px;
	opacity: 1;
	display: inline-block;
	margin-left: 2px; /* compensate added white-space */
	background: transparent url(ijreeder/loader-bars.gif) 0 0 no-repeat;
	content: "";
	vertical-align: middle;
}
body.ttrss_main #feeds-holder #feedTree {
	background-color: rgba(239,230,207,1) !important;
	background-image: url(ijreeder/reeder_stripes.png) !important;
	padding: 0 0 30px 0;
	height: 100vh;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
}
body.ttrss_main #feeds-holder #feedTree:after {
	background-color: rgba(239,230,207,1) !important;
	background-image: url(ijreeder/reeder_stripes.png) !important;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: "";
}
body.ttrss_main #feeds-holder #feedTree > div.dijitTreeContainer {
	max-width: 100%;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeRow .dijitTreeLabel.Unread {
	font-weight: bold;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeRow.Error .dijitTreeLabel {
	color: #e44;
}
body.ttrss_main #feeds-holder #feedTree .counterNode {
	float: right;
	font-size: 10px;
	font-weight: bold;
	display: none;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin-right: 8px;
	margin-top: 2px;
	height: 14px;
	background-color: #d2d0c4;
	color: #383734;
	border: 1px solid #bebcb0;
	line-height: 16px;
	padding: 0 8px;
	min-width: 0;
	border-radius: 2px;
}
body.ttrss_main[view-mode="marked"] #feeds-holder #feedTree .Has_Marked > .counterNode.marked,
body.ttrss_main:not([view-mode="marked"]) #feeds-holder #feedTree .Unread > .counterNode.unread,
body.ttrss_main:not([view-mode="marked"]) #feeds-holder #feedTree .Has_Aux:not(.Unread) > .counterNode.aux {
	display: inline-block;
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .dijitTreeRowSelected {
	background-color: rgba(215,206,186,1);
	background-image: url(ijreeder/reeder_stripes.png);
}
body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .loadingExpando {
	left: -3px;
	height: 22px;
	position: relative;
	top: -3px;
}
body.ttrss_main #feeds-holder #feedTree > .dijitTreeNode > .dijitTreeContainer > .dijitTreeNode:first-child > .dijitTreeRow {
	padding: 13px 6px;
	font-weight: bold;
}
body.ttrss_main #feeds-holder #feedTree > .dijitTreeNode > .dijitTreeContainer > .dijitTreeNode:first-child {
	margin-bottom: 26px;
}
body.ttrss_main #feeds-holder #feedTree > .dijitTreeNode > .dijitTreeContainer > .dijitTreeNode:first-child .feedIcon {
	margin: 0 6px 0 -2px;
}
body.ttrss_main #feeds-holder #feedTree .loadingNode { /* needs #feedTree to raise specifity for opacity */
	margin-left: 5px;
	width: 16px;
	height: 11px;
	opacity: 1;
}
body.ttrss_main #feeds-holder #feedTree .icon {
	position: relative;
	top: -2px;
}
body.ttrss_main #feeds-holder #feedTree i.icon {
	left: -2px;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-inbox {
	color: #111;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-archive {
	color: #cf202e;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-star {
	color: #fc7951;
	font-size: 21px;
	top: -4px;
	left: -4px;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-rss_feed {
	color: #ff0cfb;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-whatshot {
	color: #00af01;
}
body.ttrss_main #feeds-holder #feedTree i.icon.icon-restore {
	font-weight: bold;
	left: -3px;
	color: #257aff;
}
body.ttrss_main .dijitTreeIsRoot > .dijitTreeRow {
	background-color: rgba(239,230,207,1);
	border-top: 1px solid #8e8b8b !important;
	color: #383734;
	display: block;
	font-size: 14px;
	padding-top: 4px !important;
	padding-bottom: 4px !important;
}
body.ttrss_main .dijitTreeIsRoot > .dijitTreeRowHover {
	background-color: rgba(215,206,186,1);
	background-image: url(ijreeder/reeder_stripes.png);
	color: #4f4e48;
}
body.ttrss_main .dijitTreeRow.UpdatesDisabled .dijitTreeLabel {
  opacity: 0.5;
}

/***
* Feeds // Content Wrap
***/
body.ttrss_main #content-wrap {
	overflow: visible;
	padding: 0px;
	border-width: 0px;
	margin: 0px;
}
body.ttrss_main #content-wrap .dijitSelect,
body.ttrss_main #content-wrap .dijitButtonContents,
body.ttrss_main #content-wrap .dijitButtonNode,
body.ttrss_main #content-wrap .dijitArrowButton {
	border-color: transparent;
	background-image: none;
	background-color: transparent;
	box-shadow: none;
	color: #383734;
	transition: color .2s;
}
body.ttrss_main #content-wrap .dijitSelectHover .dijitButtonContents,
body.ttrss_main #content-wrap .dijitDropDownButtonHover .dijitButtonContents,
body.ttrss_main #content-wrap .dijitComboButton .dijitButtonContents:hover,
body.ttrss_main #content-wrap .dijitOpened .dijitButtonContents {
	color: #444;
}
body.ttrss_main #content-wrap .dijitComboButton .dijitArrowButton {
	border-left: none;
}
body.ttrss_main #content-wrap .dijitComboButton .dijitButtonText {
	padding: 0;
}
body.ttrss_main #content-wrap .dijitDropDownButton .dijitArrowButtonInner {
	height: 14px;
}

/***
* Feeds // Toolbar
***/
body.ttrss_main #toolbar-frame_splitter {
	display: none;
}
body.ttrss_main #toolbar-frame,
body.ttrss_main #toolbar-frame #toolbar {
	background-color: rgba(215,206,186,1);
	background-image: url(ijreeder/reeder_stripes.png);
}
body.ttrss_main #toolbar-frame {
	padding: 0px;
	margin: 0px;
	border-width: 0px;
	white-space: nowrap;
}
body.ttrss_main #toolbar-frame #toolbar {
	border: 0px solid #dddddd;
	border-bottom-width: 1px;
	height: 48px;
	z-index: 3;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
body.ttrss_main #toolbar-frame #toolbar > * {
	align-self: center;
}
body.ttrss_main #toolbar-frame #toolbar .dijitSelect,
body.ttrss_main #toolbar-frame #toolbar .dijitDropDownButton .dijitButtonNode,
body.ttrss_main #toolbar-frame #toolbar .dijitComboButton .dijitButtonNode {
	border: 0px;
}
body.ttrss_main #toolbar-frame #toolbar i.material-icons {
	color: inherit;
	padding: 0px 3px;
}
body.ttrss_main #toolbar-frame #toolbar i.icon-syndicate {
	margin-right: 8px;
	font-size: 20px;
}
body.ttrss_main #toolbar-frame #toolbar-main {
	padding: 0;
	border: none;
	background: transparent;
}
body.ttrss_main #toolbar-frame #toolbar-headlines {
	padding-right: 4px;
	flex-grow: 2;
	display: flex;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .main {
	color: #383734;
	text-align: right;
	cursor: default;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .main > * {
	color: #383734;
	vertical-align: middle !important;
	font-size: 12px;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .main > a {
	margin: 0 10px 0 2px;
	text-decoration: none;
	transition: color .2s;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .main > a:hover {
	color: #444;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .left {
	flex-grow: 2;
	display: flex;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .left > * {
	align-self: center;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .right {
	display: flex;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .right > * {
	align-self: center;
}
body.ttrss_main #toolbar-frame #toolbar-headlines .left img {
	vertical-align: middle;
	margin-right: 8px;
}
body.ttrss_main #toolbar-frame #toolbar-headlines #feed_title {
	font-size: 20px;
	border: none;
}
body.ttrss_main #toolbar-frame #toolbar-headlines #feed_title a {
	color: inherit;
}
body.ttrss_main #toolbar-frame #toolbar #updates-available {
	color: #69c671;
	padding-right: 4px;
}
body.ttrss_main #toolbar-frame #toolbar #selected_prompt {
	font-style: italic;
	text-align: right;
	margin-right: 4px;
	color: #c11e79;
}

/***
* Feeds // Headlines Wrap Inner
***/
body.ttrss_main #headlines-wrap-inner {
	background: #e9e6d7;
}
body.ttrss_main #headlines-wrap-inner:before {
	background: #e9e6d7;
}
body.ttrss_main #headlines-wrap-inner:after {
	background: #e9e6d7;
	position: absolute;
	top: 0;
	right: 34px;
	left: 26px;
	border-top: 1px solid #8e8b8b;
	content: "";
}
body.ttrss_main #headlines-wrap-inner .dijitSplitter {
	background: #827575;
}
body.ttrss_index #headlines-wrap-inner .material-icons {
	color: #777;
}

body.ttrss_main #headlines-wrap-inner .marked .left i.marked-pic {
	color: #fc7951;
}
body.ttrss_main #headlines-wrap-inner .published .left i.pub-pic {
	color: #ff0cfb;
}
body.ttrss_main #headlines-wrap-inner .score-neutral i.icon-score {
	opacity: 0.5;
}
body.ttrss_main #headlines-wrap-inner .score-high i.icon-score {
	color: #69c671;
}
body.ttrss_main #headlines-wrap-inner .score-low i.icon-score {
	color: #500;
}

/***
* Feeds // Floating Title
***/
div#floatingTitle {
	height: 32px;
	position: absolute;
	z-index: 5;
	top: 0px;
	right: 0px;
	left: 0px;
	border: 0px solid #dddddd;
	border-bottom-width: 1px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.1);
	padding: 10px;
	background-color: rgba(239,230,207,1);
	color: #4a404c;
}
div#floatingTitle > * {
	align-self: center;
	white-space: nowrap;
	padding: 4px;
	padding: 8px 7px;
	display: block;
	order: 3;
}
div#floatingTitle > div {
	white-space: nowrap;
}
div#floatingTitle img {
	vertical-align: middle;
}
div#floatingTitle > :first-child,
div#floatingTitle > .scoreWrap {
	padding-right: 0;
	padding-left: 0;
	line-height: 1;
}
div#floatingTitle > :first-child > *,
div#floatingTitle > .scoreWrap img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	float: none;
}
div#floatingTitle > :first-child {
	order: 4;
}
div#floatingTitle > .scoreWrap {
	order: 1;
}
div#floatingTitle > .scoreWrap > .hlScorePic {
	position: absolute;
	right: 83px;
}
div#floatingTitle .left,
div#floatingTitle .right {
	display: flex;
}
div#floatingTitle .left > *,
div#floatingTitle .right > * {
	align-self: center;
}
div#floatingTitle .left i.material-icons,
div#floatingTitle .right i.material-icons {
	margin-left: 2px;
	font-size: 21px;
	padding: 2px;
	user-select: none;
}
div#floatingTitle .left i.icon-anchor,
div#floatingTitle .right i.icon-anchor {
	margin-left: 0px;
	margin-right: 1px;
	padding: 0px;
	color: #777;
	cursor: pointer;
}
div#floatingTitle a.title {
	font: normal normal bold 24px/28px 'Open Sans';
	color: #383734;
	font-size: 16px;
	transition: color 0.2s, background 0.2s;
	font-weight: 600;
	text-rendering: optimizelegibility;
}
div#floatingTitle a.title:hover {
	text-decoration: none;
}
div#floatingTitle.Unread a.title {
	color: #383734;
}
div#floatingTitle span.author {
	color: #555555;
	font-size: 11px;
	font-weight: normal;
}
div#floatingTitle div.feed {
	padding-right: 10px;
	color: #555555;
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
	white-space: nowrap;
	max-width: 5vw;
}
div#floatingTitle div.feed a {
	border-radius: 4px;
	display: inline-block;
	padding: 0px;
	color: #555555;
	background: transparent !important;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: inherit;
}
div#floatingTitle span.updated {
	padding-right: 10px;
	white-space: nowrap;
	color: #555555;
	font-size: 11px;
	line-height: 16px;
}
div#floatingTitle span.titleWrap {
	width: 100%;
	line-height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex: 99;
}
div#floatingTitle .titleWrap:before,
div#floatingTitle .titleWrap:after {
	background-color: rgba(239,230,207,1);
	position: absolute;
	right: 0;
	left: 0;
	border-top: 1px solid #d4d4d4;
	content: "";
}
div#floatingTitle .titleWrap:before {
	top: -1px;
	border-color: #eee;
}
div#floatingTitle .titleWrap:after {
	bottom: -1px;
}
div#floatingTitle .collapse,
div#floatingTitle .excerpt {
	display: none;
}
div#floatingTitle .feed-title > * {
	display: table-cell;
	vertical-align: middle;
}
div#floatingTitle .feed-title a.title {
	width: 100%;
}
div#floatingTitle .feed-title a.catchup {
	text-align: right;
	color: #555555;
	padding-right: 10px;
	font-size: 11px;
	white-space: nowrap;
}
div#floatingTitle .feed-title a.catchup:hover {
	color: #c11e79;
}
div#floatingTitle .rchk,
div#floatingTitle .hlFeed,
div#floatingTitle .hlLabelRef,
div#floatingTitle .titleWrap span {
	display: none !important;
}
div#floatingTitle.marked i.marked-pic {
	color: #fc7951;
}
div#floatingTitle.published i.pub-pic {
	color: #ff0cfb;
}

/***
* Feeds // Headlines Frame
***/
body.ttrss_main #headlines-frame {
	background-color:#f4eede;
	z-index: 3;
	padding: 0 26px 0 26px;
	border: 0px #dddddd;
	margin-top: 0px;
}
body.ttrss_main #headlines-frame div.feed-title {
	border: 0px solid rgba(30,10,10);
	border-bottom-width: 1px;
	padding: 10px;
	padding-top: 30px;
}
body.ttrss_main #headlines-frame div.feed-title a {
	color: #555555;
}
body.ttrss_main #headlines-frame div.feed-title a:hover {
	color: #611e1f;
}
body.ttrss_main #headlines-frame div.feed-title a.title {
	font-weight: 750;
	font-size: 17px;
}
body.ttrss_main #headlines-frame .dijitCheckBox {
	margin-right: 4px;
}
body.ttrss_main #headlines-frame .header {
	padding: 5px;
}
body.ttrss_main #headlines-frame #headlines-spacer {
	margin-left: 1px;
	text-align: center;
	color: #555555;
	font-size: 11px;
	font-style: italic;
	position: relative;
	box-sizing: border-box;
}
body.ttrss_main #headlines-frame #headlines-spacer a,
body.ttrss_main #headlines-frame #headlines-spacer span {
	color: inherit;
	padding: 10px;
	display: block;
}
body.ttrss_main #headlines-frame #headlines-spacer a:hover {
	color: #c11e79;
}
body.ttrss_main #headlines-frame #headlines-spacer a::after {
	content: "\01F62E";
	font-size: 500%;
	display: block;
	width: 100%;
	text-align: center;
	font-style: initial;
	transition: transform 0.4s;
}
body.ttrss_main #headlines-frame #headlines-spacer a:hover::after {
	transform: matrix(0.9,0.1,-0.1,0.8,0,0);
}

/***
* Feeds // Headlines
***/
body.ttrss_main .feed {
	min-width: 5vw;
	max-width: 5vw;
}
body.ttrss_main .feed a {
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: inherit;
	width: 100%;
}
body.ttrss_main .updated {
	min-width: 40px;
	max-width: 5vw;
	display: inline-block;
	text-align: right;
}
body.ttrss_main .author {
	white-space: nowrap;
}
body.ttrss_main .hlMenuAttach {
	display: flex;
}

body.ttrss_main .hlMenuAttach > * {
	display: inline-flex;
	align-self: center;
}
body.ttrss_main img.feed-icon,
body.ttrss_main img.icon {
	width: 16px;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	display: inline-block;
}
body.ttrss_main i.marked-pic,
body.ttrss_main i.pub-pic {
	cursor : pointer;
	vertical-align : middle;
}
body.ttrss_main i.icon-score {
	cursor: pointer;
}
body.ttrss_main .Selected:not(.active) a.title {
  color: #000;
  font-weight: 850;
}
/***
* Feeds // Default mode (hl)
***/
body.ttrss_main .hl {
	margin: 0 0 -1px;
	border: 0 solid #827575;
	border-width: 1px;
	transition: color 0.2s, background 0.2s;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 32px;
	background: rgba(239,230,207,1);
	position: relative;
}
body.ttrss_main .hl:hover {
	background: rgba(239,230,207,1);
	cursor: pointer;
	box-shadow: inset 0 0 2px #555555;
	transition: background .5s;

}
body.ttrss_main .hl > * {
	align-self: center;
	white-space: nowrap;
	padding: 8px 7px;
	order: 3;
}
body.ttrss_main .hl .left i.material-icons,
body.ttrss_main .hl .right i.material-icons {
	margin-left: 2px;
	padding: 2px;
	transition: color 0.2s linear;
	user-select: none;
	font-size: 21px;
}
body.ttrss_main .hl .right i.material-icons.icon-no-feed {
	margin-left: 0px;
	padding: 0px;
	font-size: 16px;
}
body.ttrss_main .hl div.title {
	cursor: pointer;
	flex-grow: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
body.ttrss_main .hl.Unread a.title {
	font-weight: 700;
}
body.ttrss_main .hl.Selected a.title {
	font-weight: 800;
}
body.ttrss_main .hl.active a.title {
	font-weight: 900;
}
body.ttrss_main .hl,
body.ttrss_main .hl a,
body.ttrss_main .hl.Unread .contentPreview {
	color: #4a404c;
}
body.ttrss_main .hl img {
	vertical-align: middle;
}
/***
* Feeds // Combined Display Mode (cdm)
***/
.cdm {
	background: #fff9ee;
	position: relative;
}
.cdm .header,
.cdm .footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.cdm .header > * {
	align-self: center;
	padding: 6px;
	white-space: nowrap;
}
.cdm .header .left,
.cdm .header .right {
	display: flex;
}
.cdm .header .left > *,
.cdm .header .right > * {
	align-self: center;
}
.cdm .header .left i.material-icons,
.cdm .header .right i.material-icons {
	margin-left: 2px;
	padding: 2px;
	transition: color 0.2s linear;
	user-select: none;
	font-size: 21px;
}
.cdm .header .right i.material-icons.icon-no-feed {
	margin: 0px 4px;
	padding: 0;
	font-size: 16px;
} 
.cdm .header .titleWrap {
	flex-grow: 2;
}
.cdm .header .title {
	text-decoration: none;
	color: #4a404c;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 10px;
	transition: color 0.2s, background 0.2s;
	font: 14px/1.5 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", FreeSans, sans-serif;
	font-weight: 500;
}
.cdm .feed-title a {
	color: #555555;
}
.cdm .feed-title a.title {
	font-weight: bold;
}
.cdm .header span.feed {
	float: right;
	font-weight: normal;
	font-style: italic;
}
.cdm .header div.feed,
.cdm .header div.feed a {
	vertical-align: middle;
	color: #555555;
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
}
.cdm .header .feed a {
	border-radius: 4px;
	display: inline-block;
	padding: 2px 4px 2px 4px;
}
.cdm.vgrlf .header .feed {
	display: none;
}
.cdm .header span.author {
	white-space: nowrap;
	color: #555555;
	font-size: 11px;
	font-weight: normal;
}
.cdm .header span.updated {
	color: #555555;
	font-weight: normal;
	font-size: 11px;
	white-space: nowrap;
}
.cdm .header input {
	margin: 0px 4px;
}
.cdm .footer {
	height: 30px;
	padding-left: 5px;
	font-weight: normal;
	color: #555555;
	clear: both;
}
.cdm .footer > * {
	align-self: center;
}
.cdm .footer .left {
	flex-grow: 2;
}
.cdm .header img,
.cdm .footer img,
.cdm .footer i {
	margin: 0px 4px;
	vertical-align: middle;
}
.cdm div.content {
	color: #666;
}
.cdm div.content-inner {
	margin: 10px;
	line-height: 1.9em;
	font-size: 14px;
	padding: 20px;
}
.cdm div.content-inner a {
	color: #911e29;
}
.cdm div.content-inner p {
	hyphens: auto;
}
.cdm div.content-inner iframe {
	min-width: 50%;
	max-width: 98%;
}
.cdm .intermediate {
	margin-top: 10px;
	margin-left: 10px;
}
.cdm div.content-inner img,
.cdm div.content-inner video,
.cdm div.intermediate img,
.cdm div.intermediate video {
	border: 2px solid #827575;
	border-radius: 4px;
	padding: 2px;
	margin: 20px;
	max-width: calc(100% - 46px);
	display: block;
	height: auto;
}
.cdm.expandable {
	border-bottom-width: 1px;
	margin: 0 0 -1px;
	border: 0 solid #827575;
	border-width: 1px;
}
.cdm.expandable:not(.active) {
	line-height: 3em;
	cursor: pointer;
}
.cdm.expandable.active .header .title {
	color: #181764;
	font: 20px/1.7 'Open Sans', "Helvetica Neue", Arial, Helvetica, "Liberation Sans", "Nimbus Sans L", FreeSans, sans-serif;
}
.cdm.expandable.active .collapse i {
	color: #911e1f;
	cursor: pointer;
}
.cdm.expandable .excerpt {
	white-space: nowrap;
	font-size: 11px;
	color: #999;
	font-weight: normal;
	cursor: pointer;
}
.cdm.expandable .header .titleWrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cdm.expanded .collapse,
.cdm.expanded .excerpt,
.cdm.expandable.active .excerpt {
	display: none;
}
.cdm.expandable:not(.active) .content,
.cdm.expandable:not(.active) .collapse {
	display: none;
}
.cdm.expandable.Selected:not(.active) div.header a.title {
	font-weight: 700;
}
.cdm.expandable.Selected.active div.header a.title {
	font-weight: 600;
}
.cdm.expandable.Unread div.header a.title {
	font-weight: 600;
	color: black;
}
.cdm > hr,
.cdm.expandable.active .rchk,
.cdm.expanded .rchk {
	display: none !important;
}
.cdm.expandable.active,
.cdm.expanded {
	overflow: hidden;
	margin-top: 17px;
	margin-bottom: 17px;
	border: 1px solid #bebcb0;
}
.cdm.expanded > hr {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cdm.expanded div.header {
  background: transparent ! important;
}
.cdm.expanded .header .title {
	font-size: 18px;
	font-weight: 600;
}
.cdm.expanded.Unread .header .title {
	font-weight: 700;
}
.cdm.expanded.Selected .header .title {
	font-weight: 850;
}
.cdm.expanded .titleWrap {
	white-space: normal;
}
.cdm.expanded .footer {
	border: 0px solid #dddddd;
	border-bottom-width: 1px;
}
.cdm.expanded.Unread div.content {
	color: black;
}
.cdm.active {
	z-index: 1;
}

/***
* Feeds // Content Insert
***/
body.ttrss_main #content-insert {
	padding: 0px;
	border-color: #dddddd;
	border-width: 0px;
	line-height: 1.5;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 3;
	background: rgba(239,230,207,1);
}
body.ttrss_main #content-insert .header {
	display: flex;
	overflow: auto;
	padding: 12px;
	font-size: 130%;
}
body.ttrss_main #content-insert .header * {
	align-self: center;
}
body.ttrss_main #content-insert .header > * {
	padding: 10px;
}
body.ttrss_main #content-insert .header .row {
	display: flex;
	margin-bottom: 4px;
	flex-wrap: nowrap;
}
body.ttrss_main #content-insert .header .row > * {
	padding-left: 5px;
	padding-right: 5px;
	align-self: center;
}
body.ttrss_main #content-insert .header .title {
	font-weight: bold;
}
body.ttrss_main #content-insert .header .comments {
  flex-grow: 2;
}
body.ttrss_main #content-insert .header .date {
  text-align: right;
  white-space: nowrap;
  align-self: flex-start;
}
body.ttrss_main #content-insert .header img,
body.ttrss_main #content-insert .header i {
  margin: 0px 4px;
  vertical-align: middle;
}
body.ttrss_main #content-insert .content {
	margin: 10px;
	line-height: 1.9em;
	font-size: 14px;
	padding: 20px;
}
body.ttrss_main #content-insert .content * {
	max-width: 100%;
}
body.ttrss_main #content-insert .content a {
	color: #911e29;
}
body.ttrss_main #content-insert .content img {
	display: block;
}
body.ttrss_main #content-insert .content p {
	hyphens: auto;
}

/***
* Feeds // Article Note Display
***/
body.ttrss_main .article-note {
	background-color: #fff7d5;
	margin: 5px;
	border: 1px solid #e7d796;
	color: #9a8c59;
	display: flex;
}
body.ttrss_main .article-note > * {
	align-self: center;
	padding: 5px;
}
body.ttrss_main .article-note.editable {
	cursor: pointer;
}

/***
* Feeds // Players
***/
body.ttrss_main .inline-player {
	display: flex;
}
body.ttrss_main .inline-player > * {
	align-self: center;
}
body.ttrss_main .inline-player audio {
	margin-right: 8px;
}
body.ttrss_main .player {
	display: inline-block;
	color: #555555;
	font-size: 11px;
	font-family: sans-serif;
	border: 1px solid #555555;
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 2px;
	width: 50px;
	text-align: center;
	background: #ffffff;
}
body.ttrss_main .player.playing {
	color: #00c000;
	border-color: #00c000;
}
body.ttrss_main .player:hover {
	background: #f5f5f5;
	cursor: pointer;
}

/***
* Feeds // Nothing new to show (whiteBox)
***/
body.ttrss_main div.whiteBox {
	text-align: center;
	padding: 2em 1em 0em 1em;
	font-size: 13px;
	border: 0px solid #dddddd;
	border-bottom-width: 4px;
}
body.ttrss_main div.whiteBox::after {
	content: "\01F63F";
	font-size: 500%;
	display: block;
}
body.ttrss_main div.whiteBox + #headlines-spacer {
	display: none;
}

/***
* Preferences (based on default.css)
***/
body.ttrss_prefs {
	font-size: 14px;
}
body.ttrss_prefs #footer,
body.ttrss_prefs #header {
	padding: 8px;
	font-size: 13px;
}
body.ttrss_prefs #header {
	float: right;
	position: absolute;
	top: 7px;
	right: 22px;
	z-index: 1;
}
body.ttrss_prefs #footer_splitter {
	display: none;
}
body.ttrss_prefs #footer {
	width: 100vw !important;
	left: 0 !important;
	padding: 0 10px 5px;
	background: #eee;
	font-size: 13px;
	border: 0px;
	text-align: center;
}
body.ttrss_prefs #footer::after {
	content: "\01F994  ijreeder theme \01F994";
	display: block;
	font-size: 90%;
}
body.ttrss_prefs #header img {
	vertical-align: middle;
	cursor: pointer;
}
body.ttrss_prefs .dijitTree#filterTree .dijitTreeIcon,
body.ttrss_prefs .dijitTree#labelTree .dijitTreeIcon,
body.ttrss_prefs .dijitTree#filterTree .dijitTreeIcon {
	display: none;
}
body.ttrss_prefs .dijitAccordionTitle i.material-icons {
	top: -1px;
	position: relative;
}
body.ttrss_prefs .dijitAccordionTitleSelected i.material-icons {
	color: white;
}
body.ttrss_prefs .dijitDialog #pref-profiles-list .dijitInlineEditBoxDisplayMode {
	padding: 0px;
}
body.ttrss_prefs tr.title td {
	border: 0px solid #ecf4ff;
	border-bottom-width: 1px;
	color: #c11e79;
}
body.ttrss_prefs .prefPrefsList td {
	padding-bottom: 4px;
}
body.ttrss_prefs div#feedlistLoading,
body.ttrss_prefs div#filterlistLoading,
body.ttrss_prefs div#labellistLoading {
	text-align: center;
	padding: 5px;
	color: #555555;
}
body.ttrss_prefs div#feedlistLoading img,
body.ttrss_prefs div#filterlistLoading img,
body.ttrss_prefs div#labellistLoading {
	margin-right: 5px;
}
body.ttrss_prefs fieldset {
	border: none;
	margin: 10px;
}
body.ttrss_prefs fieldset > label {
	display: inline-block;
	min-width: 300px;	
}
body.ttrss_prefs fieldset > * {
	margin-right: 10px !important;
}
body.ttrss_prefs #errorButton {
	color: red;
}
body.ttrss_prefs .user-css-editor {
	height: 300px;
	width: 575px;
}
body.ttrss_prefs table.prefPluginsList td label,
body.ttrss_prefs table.prefUserList td {
	cursor: pointer;
}
body.ttrss_prefs table.prefPluginsList label {
	white-space: nowrap;
}
body.ttrss_prefs table.prefPluginsList i.plugin-enabled {
	color: #69c671;
}
body.ttrss_prefs table.prefPluginsList label img {
	vertical-align: middle;
}
body.ttrss_prefs table.prefErrorLog tr.errrow td {
	font-size: 10px;
}
body.ttrss_prefs table.prefErrorLog tr.errrow td.errno {
	font-style: italic;
	font-weight: bold;
	white-space: nowrap;
}
body.ttrss_prefs table.prefErrorLog td.filename,
body.ttrss_prefs table.prefErrorLog td.login,
body.ttrss_prefs table.prefErrorLog td.timestamp {
	color: #555555;
}
body.ttrss_prefs hr {
	border-color: #ecf4ff;
	max-width: 100%;
}
body.ttrss_prefs #main {
	background: #efeae6;	
}
body.ttrss_prefs #pref-tabs {
	width: 100vw !important;
	left: 0px;
	padding: 5px 10px 0;
}
body.ttrss_prefs #pref-tabs_tablist {
	padding-right: 150px;
	background: #eee;
}
body.ttrss_prefs div.help-text {
	display: inline-block;
	font-style: italic;
}
/***
* Mobile Version
***/
@media (max-width: 849px) {	
	#feeds-holder{
		width: calc(100vw - 100px) !important;
		left: calc(100px - 100vw) !important;
		padding-left: 30px !important;
		background: #af968b !important;
	}		
	#feeds-holder:hover{
		left: 0px !important;
	}	
	#feeds-holder .dijitTreeContainer {
		width: calc(100vw - 100px) !important;
	}		
	#feeds-holder #feedTree {
		display: none !important;
		left: 30px;
	}	
	#feeds-holder:hover #feedTree {
		display: unset !important;
	}	
	#feeds-holder #feedTree > div.dijitTreeContainer {
		max-height: 100vh;
		overflow-y: auto;
	}
	#feeds-holder_splitter, #feeds-holder_splitter * {
		display: none !important;
	}	
	#header-wrap, #content-wrap {
		width: 100vw !important;
		left: 0px !important;
		z-index: -1;
		overflow: hidden;
	}	
	#headlines-wrap-inner {
		width: calc(100vw - 30px) !important;
		left: 30px !important;
	}	
	.dijitPopup {
		position: fixed;
	}	
	body.ttrss_main #toolbar-frame	{
		width: 100vw !important;
		padding: 0 !important;
		margin: 0 !important;
		border: 0 !important;
		overflow: hidden !important;
	}
	body.ttrss_main #toolbar-frame #toolbar {
		width: calc(100vw - 30px) !important;
		left: 0px !important;
		height: 55px;
	}	
	body.ttrss_main #toolbar-frame #toolbar {
		overflow-x: auto !important;
	}
	
	body.ttrss_main #toolbar-frame #toolbar-headlines {
		width: auto !important;
	}
	
	body.ttrss_main #toolbar-frame #toolbar-headlines > .holder > .r {
		display: block;
		width: 20vw;
	}	
	body.ttrss_main #toolbar-frame #toolbar-headlines > .holder > .r > #feed_title {
		max-width: calc(20vw - 24px);
		overflow: hidden;
		text-overflow: ellipsis;
	}	
	div#floatingTitle {
		margin-right: 0 !important;
	}
	div#floatingTitle span.titleWrap {
		max-height: 24px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#content-insert_splitter {
		display: none !important;
	}	
	#headlines-frame {
		width: calc(90vw - 30px) !important;
		margin: 0 !important;
		padding: 0 !important;
		padding-left: 5vw !important;
		padding-right: 5vw !important;
	}
	#headlines-frame:not(.cdm) {
		left: 0 !important;
		top: 0 !important;
		padding: 0 !important;
		bottom: 0 !important;
		width: 100% !important;
		height: 50% !important;
	}
	#content-insert {
		border-top: 3px solid #af968b !important;
		left: 0 !important;
		top: 50% !important;
		bottom: 0 !important;
		height: 50% !important; 
		width: 100% !important;
	}	
	.feed, .updated {
		display: none !important;
	}
	body.ttrss_prefs fieldset {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		align-items: center;
		justify-items: center;
		align-self: center;
		justify-self: center;
		text-align: center;
	}
	body.ttrss_prefs fieldset > label {
		min-width: unset;	
	}
	body.ttrss_prefs fieldset > * {
		margin-right: 0px !important;
		width: 100%;
	}
}
@media (max-width: 849px) and (orientation: landscape) {	
	#headlines-frame:not(.cdm) {
		width: 50% !important;
		height: 100% !important;
	}
	#content-insert {
		border: none !important;
		border-left: 3px solid #af968b !important;
		left: 50% !important;
		top: 0 !important;
		bottom: 0 !important;
		height: 100% !important; 
		width: 50% !important;
	}
}